body {
    margin: 0;
    height: 100vh;
    background: linear-gradient(to right, #ff758c, #ff7eb3);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    color: white;
}

.card {
    background: rgba(255,255,255,0.15);
    padding: 25px;
    border-radius: 20px;
    text-align: center;
    width: 340px;
}

/* Buttons */
button {
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 25px;
    font-size: 16px;
    cursor: pointer;
}

button:first-child {
    background: #ff4d6d;
    color: white;
}

button:last-child {
    background: #444;
    color: white;
}

.hidden {
    display: none;
}

/* Photo */
.photo {
    width: 160px;
    height: 160px;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid white;
    margin-top: 15px;
    animation: pulse 3s infinite;
}

/* Video */
.video {
    width: 50%;
    border-radius: 7px;
    margin-top: 7px;
}

/* Animations */
@keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.08); }
    100% { transform: scale(1); }
}

.love-text {
    margin-top: 15px;
    font-size: 18px;
}
